@import '~bpk-mixins';

@mixin container {
  max-width: $bpk-breakpoint-desktop;
  margin: 0 auto;
}

.function {
  text-align: center;

  &__header {
    background-color: $bpk-color-sky-blue;
    background-image: $bpk-primary-gradient;
    color: $bpk-color-white;

    @include bpk-box-shadow-sm;

  }

  &__header-inner {
    @include container;
  }

  &__main {
    

    @include container;

  }


&_footer_p {
  width: '100%';
  height: '20%';
}
 }

 