 *{
    background-color: #e8e883;
}
.function {
    width: 100%;
    height: 100vh;
    display: flex;
    border: none;
    justify-content: center;
    align-items: center;
    color: #c0b2b2;
    border-color: transparent !important;
  
}
 
table {
    padding-top: 50px;
    width: 1200px;
    height: 200px;
    padding-left: 200px;
    padding-right: 100px;
    border-collapse: collapse; 
    border-spacing: 0;
    outline: 0px solid transparent;
  
}
 
th {
    width: 10px;
    border-bottom: 2px solid rgb(251, 251, 254);
}
td {
    text-align: center;
    padding-bottom: 30px;
    border: 0 !important;
  
}
tr{
    text-align: center;
    padding-bottom: 30px;
    border: 0 !important;
  
}
 